<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <profiles>
    <profile>
      <id>anyprofile</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <properties>
		  <maven.test.skip>true</maven.test.skip>
		  <soapui.endpoint.hostname>localhost</soapui.endpoint.hostname>
          	<!-- this should always be true as an external network will not have access to nexus -->
          <skip.deploy.nexus>true</skip.deploy.nexus>
		  <skip.deploy.ciserver>true</skip.deploy.ciserver>
		  <skip.soapui.test>true</skip.soapui.test>
      </properties>
    </profile>
  </profiles>
</settings>
